body{
    background-color: #2bb96b;
}

header{
background-color: #52b788;
    padding: 3%;
}

.logo{
    background-color: #52b788;
}

nav{
    background-color: beige;
}

main{
    background-color: blueviolet;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: chartreuse;
}

footer{
    background-color: beige;
    padding: 3%;
}

.cabeçalho{
    padding: 3%;
}

.rodapé{
    padding: 3%;
}

.logo_img{
    width: 30%;
}

.img_banner{
    width: 100%;
}

h1{
    font-family: arial, black;
    font-size: 30pt;
    text-align: center;
    padding-bottom: 1%;
}

h2{
    font-family: copperdale, fantasy;
    font-size: 20pt;
    text-align: center;
    padding: 1%;
}

th, td{
    border:4px solid black;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Share Tech Mono", monospace;
    vertical-align: middle;
}


td{
    border:4px solid black;
    text-align: center;
    vertical-align: middle;
}

tr{
    border: 4px solid black;
}

.sobre{
    padding: 1%;
}

.historia{
    padding: 1%;
}

.jogos{
    padding: 1%;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.col-3{
    width: 25%;
}

.col-3 p{
    font-size: 1rem;
    text-align: center;
}

.imggaleria{
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
}

.franquia{
    text-align: center;
    color: black;
    font-family: copperdale, fantasy;
    font-size: 20pt;
    padding: 1%;
}

.jogabilidade{
   padding: 1%;
}

p{
    font-family: "Share Tech Mono", monospace;
    color: black;
    padding: 1%;
}