body{
    background-color: #2bb96b;
}

header{
background-color: #2bb96b;
    padding: 3%;
}

.logo{
    background-color: #2bb96b;
}

nav{
    background-color: #2bb96b;
}

main{
    background-color: blueviolet;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: #343a40;
}

footer{
    background-color: white;
    padding: 3%;
}

.cabeçalho{
    padding: 3%;
}

.rodapé{
    padding: 3%;
}

.logo_img{
    width: 30%;
}

.img_banner{
    width: 100%;
}

h1{
    font-size: 30pt;
    text-align: center;
    padding-bottom: 1%;
}

h2{
    font-family: copperdale, fantasy;
    font-size: 20pt;
    text-align: center;
    padding: 1%;
    color: white;
}

th, td{
    border:4px solid black;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Share Tech Mono", monospace;
    vertical-align: middle;
    background-color: #343a40;
}
p, li, h1, h2, h3, h4, td, th{
    font-family: "Share Tech Mono", monospace;
    color: white;
}

td{
    border:4px solid black;
    text-align: center;
    vertical-align: middle;
}

tr{
    border: 4px solid black;
}

.sobre{
    padding: 1%;
}

.historia{
    padding: 1%;
}

.jogos{
    padding: 1%;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.col-3{
    width: 25%;
}

.col-3 p{
    font-size: 1rem;
    text-align: center;
}

.imggaleria{
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
}

.franquia{
    text-align: center;
    color: white;
    font-family: "Share Tech Mono", monospace;
    font-size: 20pt;
    padding: 1%;
}

.jogabilidade{
   padding: 1%;
}

p{
    font-family: "Share Tech Mono", monospace;
    padding: 1%;
}

a{
    color: black;
}

.textrodape{
    color: black;
}

a{
    font-family: "Share Tech Mono", monospace;
    color: black;
}

.tabela{
    padding: 3%;
}

@media screen and (max-width: 511px) {
 table{
    font-size: 45%;
 }
}

.serie{
    padding-top: 3%;
}

.falloutsérie{
    float: right;
    width: 420px;
    height: 263px;
    margin-left: 15px;
    overflow: auto;
}

.premissa{
    padding-top: 2%;
}

@media screen and (max-width: 1024px) {
 .falloutsérie{
    width: 220px;
    height: 150px;
 }
}

@media screen and (max-width: 483px) {
 nav{
    font-size: 60%;
 }
}

@media screen and (max-width: 483px) {
 footer{
    font-size: 60%;
 }
}
