body{
    background-color: darkgrey;
}

header{
background-color: #52b788;
    padding: 3%;
}

.logo{
    background-color: #52b788;
}

nav{
    background-color: beige;
}

main{
    background-color: blueviolet;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: chartreuse;
}

footer{
    background-color: brown;
    padding: 3%;
}

.cabeçalho{
    padding: 3%;
}

.rodapé{
    padding: 3%;
}

.logo_img{
    width: 30%;
}

.img_banner{
    width: 100%;
}